<div class="container w-50 mt-lg-5">
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="CreateNewAccount">
        <p class="fs-1 fw-bold pb-5">Enter your name</p>
        <input class="form-control form-control-lg" type="text" aria-label=".form-control-lg example" name="Username">
        <button type="submit" class="btn btn-success btn-lg mt-2">Create account</button>
    </form>
</div>