@model FloppyBird.Models.HomeIndexModel

@{
  string statusAlertClasses = "";

  if (!Model.CurrentSession.IsStarted && !Model.CurrentSession.IsEnded)
  {
        statusAlertClasses = "alert-dark";
  }

  if (Model.CurrentSession.IsStarted && !Model.CurrentSession.IsEnded)
  {
        statusAlertClasses = "alert-success";
  }

  if (Model.CurrentSession.IsStarted && Model.CurrentSession.IsEnded)
  {
        statusAlertClasses = "alert-danger";
  }

  string sessionScoreCoutingType = Model.CurrentSession.ScoreCountingType == ScoreCountingType.CountEveryScore ? "Count every score" : "Count highest score only";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="fw-bold text-success">@Model.CurrentSession.Name</h3>
            <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="LeaveTheSession">
                <button type="submit" class="btn btn-danger btn-sm">Exit</button>
            </form>
            <div class="alert @statusAlertClasses" role="alert">
                <p> <b>Status:</b> @Model.CurrentSession.Status </p>
                <p>Connection: <span id="gameSessionConnectionStatus"></span></p>
                <p>Scoring type: @sessionScoreCoutingType</p>
            </div>

            <h3 id="timer"></h3>
        </div>
    </div>
</div>

