@model FloppyBird.Models.HomeIndexModel

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="fw-bold text-decoration-underline text-success">@Model.CurrentSession.Name</h3>
            <h7>Connection: <span id="gameSessionConnectionStatus"></span></h7>
            <h3 class="@(Model.CurrentSession.IsStarted ? "bg-success text-white" : "bg-warning") p-2" style="--bs-bg-opacity: .7;" id="gameStatus">
                @(Model.CurrentSession.IsStarted ? "The game has been started" : "Waiting...")
            </h3>
        </div>
    </div>
</div>

