@model FloppyBird.Models.HomeIndexModel

@{
  string statusAlertClasses = "";

  if (!Model.CurrentSession.IsStarted && !Model.CurrentSession.IsEnded)
  {
        statusAlertClasses = "alert-dark";
  }

  if (Model.CurrentSession.IsStarted && !Model.CurrentSession.IsEnded)
  {
        statusAlertClasses = "alert-success";
  }

  if (Model.CurrentSession.IsStarted && Model.CurrentSession.IsEnded)
  {
        statusAlertClasses = "alert-danger";
  }
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert p-0 @statusAlertClasses" role="alert" id="gameStatusAlert">
                <h3 class="fw-bold">@Model.CurrentSession.Name - <span id="gameStatus">@Model.CurrentSession.Status </span></h3>
                <h3 id="timer"></h3>
            </div>
            <p><b>Connection:</b> <span id="gameSessionConnectionStatus"></span></p>
        </div>
    </div>
</div>

